---
---
<!DOCTYPE html>
<html lang="ca">

<head>
    {% include analytics.html %}
    <title>Clase dels monstres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/cards.css">

    <!-- <script src="scripts/decks.js"></script> -->


</head>

<body class="bg">
    <div id="app">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://hokenh.github.io/monstres">
                    <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" @click="handDeal" v-html="i18n[selectedLanguage].dealHand"></a>

                    <a class="navbar-item" target="_blank" :href="instructionslink"
                        v-html="i18n[selectedLanguage].instructions">
                        Documentation
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons has-addons">
                            <button class="button" :class="{'is-success': selectedLanguage == 'ca'}"
                                @click="selectedLanguage='ca'">Català</button>
                            <button class="button" :class="{'is-success': selectedLanguage == 'es'}"
                                @click="selectedLanguage='es'">Español</button>
                            <button class="button" :class="{'is-success': selectedLanguage == 'en'}"
                                @click="selectedLanguage='en'">English</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-container">
            <div>
                <div class="buttons is-left">

                </div>

                <div class="buttons has-addons is-right">

                </div>
            </div>


            <div class="monstercards-container monstercards-container-5-monstercards" v-if="currentHand !== null">
                <monster-card v-for="deckType in deckTypes" :key="deckType" :ref="deckType"
                    v-bind:deckname='i18n[selectedLanguage][deckType]' v-bind:cardname='currentHand[deckType].cardname'
                    v-bind:power='currentHand[deckType].power' v-bind:syllabe='currentHand[deckType].syllabe'
                    v-bind:deck='currentHand[deckType].deck' v-bind:image='currentHand[deckType].image'
                    v-on:request-new-card='onCardNew(deckType)'
                    v-bind:newcardliteral="i18n[selectedLanguage].newCard[deckType]">
                </monster-card>
            </div>
            <div>
            </div>
        </div>
    </div>
    </div>
</body>
<script src=" https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script src="scripts/card.js"></script>
<script src="scripts/game.js"></script>

</html>