.monstercard-container {
    -webkit-perspective: 500px;
    perspective: 500px;
}

/* .monstercard-container:hover .monstercard, */
.monstercard-container .monstercard.monstercard--face-down {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.monstercard {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*Custom Styles*/
.monstercards-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.monstercards-container {
    width: 100%;
}

.monstercard {
    width: 100%;
    padding-top: 156%;
    user-select: none;
    cursor: pointer;
}

.deck-title {
    font-size: 2em;
    color: black;
    border: 2px dashed black;
    background: white;
    border-radius: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
}

.monstercard .inner {
    border: 1px solid black;
    position: absolute;
    border-radius: 2vh;
    left: 1vh;
    right: 1vh;
    top: 1vh;
    bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.monstercard .inner img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.monstercard .syllabe {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    bottom: 5%;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    width: 100%;
    padding: 0.5vh;
    font-weight: 700;
    font-size: 2vh;
    background: white;
    z-index: 10;

    background-size: 10px 10px;
    background-position: -3;
    background-image:
        linear-gradient(to right, rgba(0, 255, 255, 0.507) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 255, 255, 0.507) 1px, transparent 1px);
}

.monstercard .power {
    display: inline-block;
    position: absolute;
    font-family: 'Arial',
        sans-serif;
    margin: 5px;
    padding: 2%;
    width: 2rem;
    height: 2rem;
    line-height: 1.25rem;
    font-size: 1.5rem;
    right: 0;
    top: 0;
    border-radius: 50%;
    background: white;
    border: 2px solid grey;
}

.monstercard.nose .inner {
    background: pink;
}

.monstercard.mouth .inner {
    background: cadetblue;
}

.monstercard.body .inner {
    background: firebrick;
}

.monstercard.eyes .inner {
    background: sandybrown;
}


.monstercard.complement .inner {
    background: forestgreen;
}


.monstercards-container.monstercards-container-5-monstercards .monstercard-container {
    width: 17%;
    margin: 1.5%;
}

.front,
.back {
    border-radius: 1.5rem;

    box-shadow: 0 1px 6px 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}

.front {
    background: white;
    text-align: middle;
    overflow: hidden;
}

.back {
    background: url(cards/backs/01.svg) center;
    background-size: cover;
}

img {
    display: block;
}