.monstercard-container {
    -webkit-perspective: 500px;
    perspective: 500px;
}

.monstercards-container {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.monstercards-container.monstercards-container-5-monstercards .monstercard-container {
    width: 17%;
    margin: 1.5%;
}

.monstercard-container .monstercard.monstercard--face-down {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.deck-title {
    font-size: 1vw;
    color: black;
    border: 2px dashed black;
    background: white;
    border-radius: 2vw;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1vw;
    cursor: pointer;
}

.monstercard {
    width: 100%;
    padding-top: 156%;
    user-select: none;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.monstercard .front,
.monstercard .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1.5vw;
    box-shadow: 0 1px 6px 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}

.monstercard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: url(cards/backs/01.svg) center;
    background-size: cover;
}

.monstercard .inner-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    gap: 0px 0px;
    grid-template-areas: "."".";
}

@media all and (-ms-high-contrast: none) {
    .monstercard .inner-grid {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 80% 20%;
    }
}

.monstercard.nose .inner-grid {
    background: lightgreen;
}

.monstercard.mouth .inner-grid {
    background: lightgoldenrodyellow;
}

.monstercard.body .inner-grid {
    background: indianred;
}

.monstercard.eyes .inner-grid {
    background: coral;
}

.monstercard.complement .inner-grid {
    background: lightskyblue;
}

.monstercard .inner-grid img {
    max-width: 90%;
    user-select: none;

    display: inline;
}

.monstercard .syllabe {
    font-family: "Nunito", sans-serif;
    border-top: 2px dashed black;
    width: 100%;
    font-weight: 700;
    font-size: 1.5vw;
    background: white;
    z-index: 9;
    background-size: 0.8vw 0.8vw;
    background-image: linear-gradient(to right,
            rgba(0, 255, 255, 0.3) 0.1vw,
            transparent 0.1vw),
        linear-gradient(to bottom, rgba(0, 255, 255, 0.3) 0.1vw, transparent 0.1vw);
}

.monstercard .power {
    display: inline-block;
    position: absolute;
    font-family: "Arial", sans-serif;
    margin: 0.5vw;
    padding: 2%;
    width: 2vw;
    height: 2vw;
    line-height: 1.5vw;
    font-size: 1.5vw;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    color: white;
    background: black;
    z-index: 10;
}